/* Reset all margins, padding, and borders to zero */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Reset fonts to a known baseline */
body, button, input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

/* Reset some basic styling for links */
a {
  text-decoration: none;
  color: inherit;
}
